@model Orders.Models.Order

@{
    ViewBag.Title = "Edit";
}

<h2>Редактировать</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Order</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.Number, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Number, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ProviderId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("ProviderId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ProviderId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <table class="table" id="tblOrderItems">
                <tr>
                    <th>Наименование</th>
                    <th>Количество</th>
                    <th>Единица измерения</th>
                </tr>
                @foreach (var item in Model.OrderItems)
                {
                    <tr data-id="@item.Id">
                        <td class="Name">
                            <span>@Html.DisplayFor(modelItem => item.Name) </span>
                            <input type="text" value="@item.Name" style="display:none" />
                        </td>
                        <td class="Quantity">
                            <span>@Html.DisplayFor(modelItem => item.Quantity) </span>
                            <input type="text" value="@item.Quantity" style="display:none" />
                        </td>
                        <td class="Unit">
                            <span>@Html.DisplayFor(modelItem => item.Unit)</span>
                            <input type="text" value="@item.Unit" style="display:none" />
                        </td>
                        <td>
                            <a class="Edit" href="javascript:;">Редактировать</a>
                            <a class="Update" href="javascript:;" style="display:none">Обновить</a>
                            <a class="Cancel" href="javascript:;" style="display:none">Отмена</a>
                            <a class="Delete" href="javascript:;">Удалить</a>
                        </td>
                    </tr>
                }
            </table>
            <input type="button" class="btn btn-default" id="btnAddRow" value="Добавить" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Сохранить" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Назад к списку", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript">
    function AppendRow(row, name, quantity, unit) {
            $(".Name", row).find("span").html(name);
            $(".Name", row).find("input").val(name);

            $(".Quantity", row).find("span").html(quantity);
        $(".Quantity", row).find("input").val(quantity);

        $(".Unit", row).find("span").html(unit);
        $(".Unit", row).find("input").val(unit);

            row.find(".Edit").show();
            row.find(".Delete").show();

            $("#tblOrderItems").append(row);
    };

    $("body").on("click", "#btnAddRow", function () {
        $('#tblOrderItems > tbody:last-child').append(`
    <tr><td class="Name">
                            <span style="display:none"></span>
                            <input type="text"/>
                        </td>
                        <td class="Quantity">
                            <span style="display:none"></span>
                            <input type="text" />
                        </td>
                        <td class="Unit">
                            <span style="display:none"></span>
                            <input type="text" />
                        </td>
                        <td>
                            <a class="Add" href="javascript:;">Добавить</a>
                            <a class="CancelAddRow" href="javascript:;">Отмена</a>
                        </td></tr>`);
    });

    $("body").on("click", "#tblOrderItems .Add", function () {
        var row = $(this).closest("tr");
        var orderItem = {};
        orderItem.orderId = @Model.Id;
        orderItem.name = row.find(".Name input").val();
        orderItem.quantity = row.find(".Quantity input").val();
        orderItem.unit = row.find(".Unit input").val();
        $.ajax({
                type: "POST",
            url: "/Orders/InsertOrderItem",
            data: JSON.stringify(orderItem),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
            success: function (r) {
                console.log(r);
                row.find("input").hide();
                row.find("span").show();
                row.find(".Add").remove();
                row.find(".CancelAddRow").remove();

                row.find(".Name span").text(orderItem.name);
                row.find(".Quantity span").text(orderItem.quantity);
                row.find(".Unit span").text(orderItem.unit);

                row.attr("data-id", r.Id);
                var buttonTd = row.find("td:last-child");
                buttonTd.append(`
                            <a class="Edit" href="javascript:;">Редактировать</a>
                            <a class="Update" href="javascript:;" style="display:none">Обновить</a>
                            <a class="Cancel" href="javascript:;" style="display:none">Отмена</a>
                            <a class="Delete" href="javascript:;">Удалить</a>
                `);
                }
            });
    });

        //Edit event handler.
        $("body").on("click", "#tblOrderItems .Edit", function () {
            var row = $(this).closest("tr");
            $("td", row).each(function () {
                if ($(this).find("input").length > 0) {
                    $(this).find("input").show();
                    $(this).find("span").hide();
                }
            });
            row.find(".Update").show();
            row.find(".Cancel").show();
            row.find(".Delete").hide();
            $(this).hide();
        });

        //Update event handler.
        $("body").on("click", "#tblOrderItems .Update", function () {
            var row = $(this).closest("tr");
            var orderItem = {};
            orderItem.Id = row.attr("data-id");
            orderItem.orderId = @Model.Id;
            orderItem.name = row.find(".Name input").val();
            orderItem.quantity = row.find(".Quantity input").val();
            orderItem.unit = row.find(".Unit input").val();

            row.find(".Edit").show();
            row.find(".Delete").show();
            row.find(".Cancel").hide();
            $(this).hide();

            row.find(".Name span").text(orderItem.name);
            row.find(".Quantity span").text(orderItem.quantity);
            row.find(".Unit span").text(orderItem.unit);
            $("td", row).each(function () {
                if ($(this).find("input").length > 0) {
                    $(this).find("input").hide();
                    $(this).find("span").show();
                }
            });

            $.ajax({
                type: "POST",
                url: "/Orders/UpdateOrderItem",
                data: JSON.stringify(orderItem),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (r) {
                    console.log(r);
                }
            });
        });

        //Cancel event handler.
        $("body").on("click", "#tblOrderItems .Cancel", function () {
            var row = $(this).closest("tr");
            $("td", row).each(function () {
                if ($(this).find("input").length > 0) {
                    var span = $(this).find("span");
                    var input = $(this).find("input");
                    input.val(span.html());
                    span.show();
                    input.hide();
                }
            });
            row.find(".Edit").show();
            row.find(".Delete").show();
            row.find(".Update").hide();
            $(this).hide();
        });

    $("body").on("click", "#tblOrderItems .CancelAddRow", function () {
        var row = $(this).closest("tr");
        row.remove();
    });

        //Delete event handler.
        $("body").on("click", "#tblOrderItems .Delete", function () {
            if (confirm("Вы действительно хотите удалить эту строку?")) {
                var row = $(this).closest("tr");
                var id = row.attr("data-id");
                $.ajax({
                    type: "POST",
                    url: "/Orders/DeleteOrderItem",
                    data: '{itemId: ' + id + '}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        console.log(response);
                        console.log(row);
                        row.remove();
                    },
                    error: function (response) {
                        console.log(response);
                        if (response.status == 200) {
                            row.remove();
                        }
                    }
                });
            }
        });
</script>
}
