@model IEnumerable<Orders.Models.Order>

@{
    ViewBag.Title = "Заказы";
}

<h2>Заказы</h2>

<p>
    <input type="button" value="Создать заказ" onclick="location.href='@Url.Action("Create", "Orders")'" class="btn btn-default" />
</p>
@using (Html.BeginForm("Index", "Orders", FormMethod.Get))
{
    @Html.ListBox("number", ViewBag.NumberFilter as MultiSelectList)
    @Html.ListBox("date", ViewBag.DateFilter as MultiSelectList)
    @Html.ListBox("itemName", ViewBag.ItemNameFilter as MultiSelectList)
    @Html.ListBox("unit", ViewBag.UnitFilter as MultiSelectList)
    @Html.ListBox("provider", ViewBag.ProviderFilter as MultiSelectList)
    <input class="btn btn-default" type="submit" value="Фильтровать" />
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Provider.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class='clickable-row' data-href='@Url.Action("Details", "Orders", new { id = item.Id })'>
            <td>
                @Html.DisplayFor(modelItem => item.Provider.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

@section Scripts{
    <script>
        $(function () {
            $('.table tr[data-href]').each(function () {
                $(this).css('cursor', 'pointer').hover(
                    function () {
                        $(this).addClass('active');
                    },
                    function () {
                        $(this).removeClass('active');
                    }).click(function () {
                        document.location = $(this).attr('data-href');
                    }
                    );
            });
        });
    </script>
}
